@page
@model WebShop.Pages.Bestellungen.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Bestellung</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bestellung.Id" class="control-label"></label>
                <input asp-for="Bestellung.Id" class="form-control" />
                <span asp-validation-for="Bestellung.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bestellung.Kundennummer" class="control-label"></label>
                <input asp-for="Bestellung.Kundennummer" class="form-control" />
                <span asp-validation-for="Bestellung.Kundennummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bestellung.Produkt" class="control-label"></label>
                <input asp-for="Bestellung.Produkt" class="form-control" />
                <span asp-validation-for="Bestellung.Produkt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
